@args cMode := 'edit', lFound := .F., hRow := {=>}, hFlash := {=>}, nVersion := 0
@view 'common/header.html'
<h1>{{ if( cMode == 'create', 'Create', 'Edit' ) }} note</h1>
<p class="flash">{{ HB_HGetDef( hFlash, 'message', '' ) }} version {{ nVersion }}</p>
<form method="POST" action="{{ if( cMode == 'create', '/note/store', '/note/' + HB_HGetDef( hRow, 'id', 0 ) + '/update' ) }}">
@CSRF
<input type="text" name="title" value="{{ HB_HGetDef( hRow, 'title', '' ) }}">
<input type="text" name="content" value="{{ HB_HGetDef( hRow, 'content', '' ) }}">
<input type="hidden" name="version" value="{{ nVersion }}">
<input type="hidden" name="id" value="{{ HB_HGetDef( hRow, 'id', 0 ) }}">
</form>
