@args lFound := .F., hRow := {=>}, hFlash := {=>}
@view 'common/header.html'
@view 'common/navbar.html'

	<!-- Offcanvas Sidebar -->

@view 'common/sidebar.html', 'testresult'
<h1>Testresult #{{ HB_HGetDef( hRow, 'id', '' ) }}</h1>
<p class="flash">{{ HB_HGetDef( hFlash, 'message', '' ) }}</p>
@if lFound
<dl>
  <dt>id</dt><dd>{{ HB_HGetDef( hRow, 'id', '' ) }}</dd>
  <dt>stock_item</dt><dd>{{ HB_HGetDef( hRow, 'stock_item', '' ) }}</dd>
  <dt>result</dt><dd>{{ HB_HGetDef( hRow, 'result', '' ) }}</dd>
  <dt>value</dt><dd>{{ HB_HGetDef( hRow, 'value', '' ) }}</dd>
  <dt>date</dt><dd>{{ HB_HGetDef( hRow, 'date', '' ) }}</dd>
  <dt>version</dt><dd>{{ HB_HGetDef( hRow, 'version', '' ) }}</dd>
</dl>
<p><a href="/testresult/{{ HB_HGetDef( hRow, 'id', '' ) }}/edit">edit</a> &middot;
   <a href="/testresult/{{ HB_HGetDef( hRow, 'id', '' ) }}/delete_confirm">delete</a></p>
@else
<p class="flash danger">That test result is not there.</p>
@endif
