@args aGrid := {=>}, aPages := {=>}, nPage := 1, nTotalPages := 1, nTotal := 0, cQ := '', hFlash := {=>}
@view 'common/header.html'
<h1>Projectcode (Grid)</h1>
<p class="flash">{{ HB_HGetDef( hFlash, 'message', '' ) }} - {{ nTotal }} record(s), page {{ nPage }} of {{ nTotalPages }}. Filter: {{ cQ }}</p>
<table border="1">
  <thead><tr><th>id</th><th>code</th><th>description</th><th>active</th><th>responsible</th><th>version</th><th>actions</th></tr></thead>
  <tbody>
    @foreach hRow IN aGrid
    <tr>
      <td>{{ HB_HGetDef( hRow, 'id', '' ) }}</td>
      <td>{{ HB_HGetDef( hRow, 'code', '' ) }}</td>
      <td>{{ HB_HGetDef( hRow, 'description', '' ) }}</td>
      <td>{{ HB_HGetDef( hRow, 'active', '' ) }}</td>
      <td>{{ HB_HGetDef( hRow, 'responsible', '' ) }}</td>

      <td>{{ HB_HGetDef( hRow, 'version', '' ) }}</td>
      <td><a href="/projectcode/{{ HB_HGetDef( hRow, 'id', '' ) }}/edit">edit</a></td>
    </tr>
    @endforeach
  </tbody>
</table>
