@args lFound := .F., hRow := {=>}, hFlash := {=>}
@view 'common/header.html'
<h1>Projectcode #{{ HB_HGetDef( hRow, 'id', '' ) }}</h1>
<p class="flash">{{ HB_HGetDef( hFlash, 'message', '' ) }}</p>
@if lFound
<dl>
  <dt>id</dt><dd>{{ HB_HGetDef( hRow, 'id', '' ) }}</dd>
  <dt>code</dt><dd>{{ HB_HGetDef( hRow, 'code', '' ) }}</dd>
  <dt>description</dt><dd>{{ HB_HGetDef( hRow, 'description', '' ) }}</dd>
  <dt>active</dt><dd>{{ HB_HGetDef( hRow, 'active', '' ) }}</dd>
  <dt>responsible</dt><dd>{{ HB_HGetDef( hRow, 'responsible', '' ) }}</dd>
  <dt>version</dt><dd>{{ HB_HGetDef( hRow, 'version', '' ) }}</dd>
</dl>
<p><a href="/projectcode/{{ HB_HGetDef( hRow, 'id', '' ) }}/edit">edit</a> &middot;
   <a href="/projectcode/{{ HB_HGetDef( hRow, 'id', '' ) }}/delete_confirm">delete</a></p>
@else
<p class="flash danger">That project code is not there.</p>
@endif
