@args lFound := .F., hRow := {=>}, hFlash := {=>}
@view 'common/header.html'
<h1>Settings #{{ HB_HGetDef( hRow, 'id', '' ) }}</h1>
<p class="flash">{{ HB_HGetDef( hFlash, 'message', '' ) }}</p>
@if lFound
<dl>
  <dt>id</dt><dd>{{ HB_HGetDef( hRow, 'id', '' ) }}</dd>
  <dt>key</dt><dd>{{ HB_HGetDef( hRow, 'key', '' ) }}</dd>
  <dt>value</dt><dd>{{ HB_HGetDef( hRow, 'value', '' ) }}</dd>
  <dt>version</dt><dd>{{ HB_HGetDef( hRow, 'version', '' ) }}</dd>
</dl>
<p><a href="/settings/{{ HB_HGetDef( hRow, 'id', '' ) }}/edit">edit</a> &middot;
   <a href="/settings/{{ HB_HGetDef( hRow, 'id', '' ) }}/delete_confirm">delete</a></p>
@else
<p class="flash danger">That setting is not there.</p>
@endif
