@args lFound := .F., hRow := {=>}, hFlash := {=>}
@view 'common/header.html'
@view 'common/navbar.html'

	<!-- Offcanvas Sidebar -->

@view 'common/sidebar.html', 'supplier'
<h1>Supplier #{{ HB_HGetDef( hRow, 'id', '' ) }}</h1>
<p class="flash">{{ HB_HGetDef( hFlash, 'message', '' ) }}</p>
@if lFound
<dl>
  <dt>id</dt><dd>{{ HB_HGetDef( hRow, 'id', '' ) }}</dd>
  <dt>part</dt><dd>{{ HB_HGetDef( hRow, 'part', '' ) }}</dd>
  <dt>supplier</dt><dd>{{ HB_HGetDef( hRow, 'supplier', '' ) }}</dd>
  <dt>SKU</dt><dd>{{ HB_HGetDef( hRow, 'SKU', '' ) }}</dd>
  <dt>manufacturer_part</dt><dd>{{ HB_HGetDef( hRow, 'manufacturer_part', '' ) }}</dd>
  <dt>link</dt><dd>{{ HB_HGetDef( hRow, 'link', '' ) }}</dd>
  <dt>version</dt><dd>{{ HB_HGetDef( hRow, 'version', '' ) }}</dd>
</dl>
<p><a href="/supplier/{{ HB_HGetDef( hRow, 'id', '' ) }}/edit">edit</a> &middot;
   <a href="/supplier/{{ HB_HGetDef( hRow, 'id', '' ) }}/delete_confirm">delete</a></p>
@else
<p class="flash danger">That supplier listing is not there.</p>
@endif
