@args aGrid := {=>}, aPages := {=>}, nPage := 1, nTotalPages := 1, nTotal := 0, cQ := '', hFlash := {=>}
@view 'common/header.html'
@view 'common/navbar.html'

	<!-- Offcanvas Sidebar -->

@view 'common/sidebar.html', 'bom'
<h1>Bom (Grid)</h1>
<p class="flash">{{ HB_HGetDef( hFlash, 'message', '' ) }} - {{ nTotal }} record(s), page {{ nPage }} of {{ nTotalPages }}. Filter: {{ cQ }}</p>
<table border="1">
  <thead><tr><th>id</th><th>part</th><th>sub_part</th><th>quantity</th><th>raw_amount</th><th>version</th><th>actions</th></tr></thead>
  <tbody>
    @foreach hRow IN aGrid
    <tr>
      <td>{{ HB_HGetDef( hRow, 'id', '' ) }}</td>
      <td>{{ HB_HGetDef( hRow, 'part', '' ) }}</td>
      <td>{{ HB_HGetDef( hRow, 'sub_part', '' ) }}</td>
      <td>{{ HB_HGetDef( hRow, 'quantity', '' ) }}</td>
      <td>{{ HB_HGetDef( hRow, 'raw_amount', '' ) }}</td>

      <td>{{ HB_HGetDef( hRow, 'version', '' ) }}</td>
      <td><a href="/bom/{{ HB_HGetDef( hRow, 'id', '' ) }}/edit">edit</a></td>
    </tr>
    @endforeach
  </tbody>
</table>
