@args lFound := .F., hRow := {=>}, hFlash := {=>}
@view 'common/header.html'
@view 'common/navbar.html'

	<!-- Offcanvas Sidebar -->

@view 'common/sidebar.html', 'bom'
<h1>Bom #{{ HB_HGetDef( hRow, 'id', '' ) }}</h1>
<p class="flash">{{ HB_HGetDef( hFlash, 'message', '' ) }}</p>
@if lFound
<dl>
  <dt>id</dt><dd>{{ HB_HGetDef( hRow, 'id', '' ) }}</dd>
  <dt>part</dt><dd>{{ HB_HGetDef( hRow, 'part', '' ) }}</dd>
  <dt>sub_part</dt><dd>{{ HB_HGetDef( hRow, 'sub_part', '' ) }}</dd>
  <dt>quantity</dt><dd>{{ HB_HGetDef( hRow, 'quantity', '' ) }}</dd>
  <dt>raw_amount</dt><dd>{{ HB_HGetDef( hRow, 'raw_amount', '' ) }}</dd>
  <dt>version</dt><dd>{{ HB_HGetDef( hRow, 'version', '' ) }}</dd>
</dl>
<p><a href="/bom/{{ HB_HGetDef( hRow, 'id', '' ) }}/edit">edit</a> &middot;
   <a href="/bom/{{ HB_HGetDef( hRow, 'id', '' ) }}/delete_confirm">delete</a></p>
@else
<p class="flash danger">That BOM item is not there.</p>
@endif
