@args cItemActive := ''

<div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasSidebar"
	aria-labelledby="offcanvasSidebarLabel" style="width: 250px;">
	<div class="offcanvas-header">
		<h5 class="offcanvas-title" id="offcanvasSidebarLabel">{{  UAuthUser("name") }}</h5>
		<button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
	</div>
	<div class="offcanvas-body">
		<ul class="nav flex-column">

			@if UHasRole( 'customers' )
				<li class="nav-item">
					<a class="nav-link text-white {{ if( cItemActive == 'customer', 'active', '' ) }}" href="/customer/grid">
						<i class="bi bi-table me-2"></i> Customer (Grid)
					</a>
				</li>
			@endif

			@if UHasRole( 'users' )
				<li class="nav-item">
					<a class="nav-link text-white {{ if( cItemActive == 'users', 'active', '' ) }}" href="/users/grid">
						<i class="bi bi-person-gear me-2"></i> Users (Grid)
					</a>
				</li>
			@endif

			@if UHasRole( 'sales' )
				<li class="nav-item">
					<a class="nav-link text-white {{ if( cItemActive == 'module_a', 'active', '' ) }}" aria-current="page" href="/module_a">
						<i class="bi bi-speedometer2 me-2"></i> Module A
					</a>
				</li>
			@endif

			@if UHasRole( 'sales' )
				<li class="nav-item">
					<a class="nav-link text-white {{ if( cItemActive == 'module_b', 'active', '' ) }}" href="/module_b">
						<i class="bi bi-people me-2"></i> Module B
					</a>
				</li>
			@endif

			@if UHasRole( 'purchases' )
				<li class="nav-item">
					<a class="nav-link text-white {{ if( cItemActive == 'module_c', 'active', '' ) }}" href="/module_c">
						<i class="bi bi-gear me-2"></i> Module C
					</a>
				</li>
			@endif

					@if UHasRole( 'parts' )
				<li class="nav-item">
					<a class="nav-link text-white {{ if( cItemActive == 'part', 'active', '' ) }}" href="/part/grid">
						<i class="bi-bi-box me-2 me-2"></i> Parts (Grid)
					</a>
				</li>
			@endif

			@if UHasRole( 'stock' )
				<li class="nav-item">
					<a class="nav-link text-white {{ if( cItemActive == 'stock', 'active', '' ) }}" href="/stock/grid">
						<i class="bi-bi-box me-2 me-2"></i> Stock (Grid)
					</a>
				</li>
			@endif

			@if UHasRole( 'company' )
				<li class="nav-item">
					<a class="nav-link text-white {{ if( cItemActive == 'company', 'active', '' ) }}" href="/company/grid">
						<i class="bi-bi-building me-2 me-2"></i> Company (Grid)
					</a>
				</li>
			@endif

			@if UHasRole( 'supplier' )
				<li class="nav-item">
					<a class="nav-link text-white {{ if( cItemActive == 'supplier', 'active', '' ) }}" href="/supplier/grid">
						<i class="bi-bi-truck me-2 me-2"></i> Suppliers (Grid)
					</a>
				</li>
			@endif

			@if UHasRole( 'bom' )
				<li class="nav-item">
					<a class="nav-link text-white {{ if( cItemActive == 'bom', 'active', '' ) }}" href="/bom/grid">
						<i class="bi-bi-list me-2 me-2"></i> Bill of Materials
					</a>
				</li>
			@endif

			@if UHasRole( 'order' )
				<li class="nav-item">
					<a class="nav-link text-white {{ if( cItemActive == 'order', 'active', '' ) }}" href="/order/grid">
						<i class="bi-bi-cart me-2 me-2"></i> Sales Orders
					</a>
				</li>
			@endif

			@if UHasRole( 'order' )
				<li class="nav-item">
					<a class="nav-link text-white {{ if( cItemActive == 'orderline', 'active', '' ) }}" href="/orderline/grid">
						<i class="bi-bi-list me-2 me-2"></i> Order Lines
					</a>
				</li>
			@endif

			@if UHasRole( 'build' )
				<li class="nav-item">
					<a class="nav-link text-white {{ if( cItemActive == 'build', 'active', '' ) }}" href="/build/grid">
						<i class="bi-bi-hammer me-2 me-2"></i> Builds
					</a>
				</li>
			@endif

			@if UHasRole( 'test' )
				<li class="nav-item">
					<a class="nav-link text-white {{ if( cItemActive == 'testresult', 'active', '' ) }}" href="/testresult/grid">
						<i class="bi-bi-check me-2 me-2"></i> Test Results
					</a>
				</li>
			@endif

			@if UHasRole( 'prefs' )
				<li class="nav-item">
					<a class="nav-link text-white {{ if( cItemActive == 'settings', 'active', '' ) }}" href="/settings/grid">
						<i class="bi-bi-gear me-2 me-2"></i> Settings
					</a>
				</li>
			@endif

			@if UHasRole( 'note' )
				<li class="nav-item">
					<a class="nav-link text-white {{ if( cItemActive == 'note', 'active', '' ) }}" href="/note/grid">
						<i class="bi-bi-sticky-note me-2 me-2"></i> Notes
					</a>
				</li>
			@endif

			@if UHasRole( 'project' )
				<li class="nav-item">
					<a class="nav-link text-white {{ if( cItemActive == 'projectcode', 'active', '' ) }}" href="/projectcode/grid">
						<i class="bi-bi-tag me-2 me-2"></i> Project Codes
					</a>
				</li>
			@endif

</ul>
	</div>
</div>

<style>
	.sidebar {
		min-height: calc(100vh - 56px);		
		box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
	}

	
	.offcanvas-body .nav-link.active {
		background-color: #e9ecef;	
		color: #212529 !important;	
		border-radius: 0.25rem;
	}

	
	.offcanvas-body .nav-link:hover {
		background-color: #bebfc0;	
		color: #212529 !important;	
		border-radius: 0.25rem;
	}
</style>